body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formWrapper { /*задание размеров контейнера для формы*/
    border: 1px solid black;  /*временная граница для формы*/
    padding: 40px 30px;
}

.formHeader {
    margin: 10px 0 40px 0;
}

.formRow { /*выравнивание флексами в каждой строке формы*/
    display: flex;
    justify-content: flex-start;

    margin: 15px 0;
}

.formLabel {    /*ширина блоков-названий*/
    display: flex;
    align-items: center;
    min-width: 150px;
}

input, select {   /*высота инпутов*/
    box-sizing: border-box;
    height: 35px;
    padding-left: 15px;
}
/*задаем соотношение размеров элементов формы*/
.userNameInput {
    width: 50%;
}

.lastNameInput {
    margin-left: 20px;
}

.emailInput, .messageSubject, .messageText{
    width: 100%;
}

#phone, #phonePt2 {
    width: 30%;
    margin-right: 20px;
}

#phonePt3 {
    width: 40%;
}
