:root {
    --light-color: #fff;
    --dark-color: #262626;
    --main-font: 'Roboto Condensed', sans-serif;
    --logo-font: bold italic 2rem 'Comic Neue', cursive;
}

html{
    font-size: 16px;
}

.headerArea {
    background-image: url("navigation_images/background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 30px 70px;

    color: var(--light-color);
    background-color: var(--dark-color);
}

.navigationMenu {
    display: flex;
    justify-content: space-between;

    max-width: 400px;
    width: 100%;
}

.logo {
    font: var(--logo-font);
}

.elementMenu {
    font-size: 1.3rem;
    font-weight: 800;
}

nav a {
    font-family: var(--main-font);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light-color);
}

.contactButton a {
    display: inline-block;

    border: 2px solid var(--light-color);
    border-radius: 5px;
    padding: 15px 30px;

    font-weight: bold;
    font-size: 0.9rem;
}